#fullDiv {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }

.lichne {
    margin: 0;
    padding: 0;
  }

.lichne1 {
    float: left;
    display: block;
    width: 14.2857%;
    text-align: center;
    list-style-type: none;
    font-size: 17px;
  }

  .lichne1:nth-child(n+1):nth-child(-n+7) {
    font-weight: 900;
    color: #e67e22;
  }

  .lichne1:nth-child(n+39), .lichne1:nth-child(n+8):nth-child(-n+18) {
    font-weight: 900;
    color: rgba(0, 0, 0, 0.155);
  }

  .lichne1:hover:nth-child(n+8):nth-child(-n+38), .lichne1:nth-child(19){
    border-radius: 5px;
    background-color: #1abc9c;
    color: #ecf0f1;
  }
