#wrapper {
    max-width: auto;
    margin: 0px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e4e4e4;
    padding: 10px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.accordion-item.active .accordion-header {
    background: #0cbb5b;
    color: #fff;
}

.arrow {
    transition: all 0.3s;
}

.accordion-item.active .arrow {
    transform: rotate(180deg);
}

.accordion-body {
    padding: 10px 10px;
    display: none;
}
